In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.preprocessing import LabelEncoder,MinMaxScaler,Binarizer,StandardScaler,Normalizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,r2_score
from sklearn.svm import SVC,SVR
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('netflix2.csv')

In [3]:
df

            Day  netflix: (India)
0    04-11-2021                43
1    05-11-2021                46
2    06-11-2021                50
3    07-11-2021                47
4    08-11-2021                40
..          ...               ...
175  28-04-2022                40
176  29-04-2022                43
177  30-04-2022                35
178  01-05-2022                44
179  02-05-2022                 0

[180 rows x 2 columns]

In [4]:
df.iloc[179,1]=50

In [5]:
df

            Day  netflix: (India)
0    04-11-2021                43
1    05-11-2021                46
2    06-11-2021                50
3    07-11-2021                47
4    08-11-2021                40
..          ...               ...
175  28-04-2022                40
176  29-04-2022                43
177  30-04-2022                35
178  01-05-2022                44
179  02-05-2022                50

[180 rows x 2 columns]

In [6]:
y=df['netflix: (India)']

In [7]:
y

0      43
1      46
2      50
3      47
4      40
       ..
175    40
176    43
177    35
178    44
179    50
Name: netflix: (India), Length: 180, dtype: int64

In [8]:
x=df['Day']

In [9]:
x

0      04-11-2021
1      05-11-2021
2      06-11-2021
3      07-11-2021
4      08-11-2021
          ...
175    28-04-2022
176    29-04-2022
177    30-04-2022
178    01-05-2022
179    02-05-2022
Name: Day, Length: 180, dtype: object

In [10]:
l=LabelEncoder()

In [11]:
x=l.fit_transform(x)

In [15]:
a=x[:,np.newaxis]

In [16]:
b=y[:,np.newaxis]

C:\Users\RAJA\AppData\Local\Temp/ipykernel_5644/3338251154.py:1: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  b=y[:,np.newaxis]

In [17]:
x_train, x_test, y_train, y_test =train_test_split(a,b,test_size=0.20,random_state=1)

In [49]:
model=SVR()

In [44]:
model.fit(x_train,y_train)

C:\Users\RAJA\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

SVR(kernel='sigmoid')

In [45]:
out=model.predict(x_test)

In [46]:
out

array([44.53573802, 44.60762915, 45.81528969, 45.25026709, 46.09037432,
       44.52745417, 45.65396006, 44.62049276, 44.66678933, 45.78214866,
       44.87516983, 44.80800251, 45.10542319, 44.75204282, 46.32858219,
       46.39179298, 44.8400652 , 46.51441092, 46.40847489, 46.55364106,
       45.74941772, 44.98560939, 44.57197099, 44.54482552, 44.54017349,
       45.2061614 , 44.64465536, 46.26250127, 45.56305041, 46.65937765,
       44.72769726, 46.65490588, 44.50954078, 46.57500775, 46.12521507,
       44.73556418])

In [47]:
r2_score(y_test,out)

-0.07224659450625603

In [48]:
df2=pd.DataFrame(pd.date_range('02-05-2022',periods=180),columns=["Day"])

In [24]:
df2=l.fit_transform(df2)

C:\Users\RAJA\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [28]:
model.predict(s)

array([45.93621619, 45.89724392, 45.85638139, 45.81367403, 45.76917392,
       45.72293971, 45.67503672, 45.6255368 , 45.57451837, 45.52206626,
       45.46827166, 45.41323194, 45.35705051, 45.29983665, 45.24170524,
       45.18277661, 45.1231762 , 45.0630343 , 45.00248576, 44.94166964,
       44.88072885, 44.81980979, 44.75906197, 44.69863755, 44.63869099,
       44.57937851, 44.52085774, 44.46328718, 44.40682574, 44.35163227,
       44.29786505, 44.24568131, 44.19523671, 44.14668487, 44.10017682,
       44.05586058, 44.01388057, 43.97437721, 43.93748641, 43.90333909,
       43.87206072, 43.84377093, 43.81858302, 43.79660358, 43.77793212,
       43.76266063, 43.75087332, 43.7426462 , 43.73804685, 43.73713409,
       43.73995775, 43.74655842, 43.75696727, 43.77120587, 43.78928603,
       43.8112097 , 43.83696888, 43.86654554, 43.89991163, 43.93702903,
       43.97784964, 44.02231538, 44.07035832, 44.1219008 , 44.17685552,
       44.2351258 , 44.29660571, 44.36118035, 44.42872607, 44.49911076,
       44.57219417, 44.64782823, 44.72585741, 44.80611908, 44.88844391,
       44.97265631, 45.05857484, 45.14601265, 45.234778  , 45.3246747 ,
       45.41550261, 45.50705818, 45.59913495, 45.6915241 , 45.78401496,
       45.87639559, 45.96845332, 46.05997534, 46.15074919, 46.24056339,
       46.329208  , 46.41647514, 46.50215956, 46.58605923, 46.66797585,
       46.74771539, 46.82508864, 46.89991171, 46.97200654, 47.04120141,
       47.10733137, 47.17023875, 47.22977357, 47.28579396, 47.33816656,
       47.38676691, 47.43147978, 47.4721995 , 47.50883026, 47.54128637,
       47.56949254, 47.59338402, 47.61290686, 47.628018  , 47.6386854 ,
       47.64488813, 47.64661644, 47.64387172, 47.63666655, 47.62502459,
       47.60898052, 47.58857993, 47.56387915, 47.53494504, 47.50185484,
       47.46469584, 47.42356513, 47.37856929, 47.32982405, 47.2774539 ,
       47.22159169, 47.16237824, 47.09996183, 47.0344978 , 46.966148  ,
       46.89508031, 46.82146811, 46.74548972, 46.66732786, 46.58716909,
       46.50520321, 46.42162269, 46.33662209, 46.25039747, 46.16314578,
       46.0750643 , 45.98635004, 45.89719919, 45.8078065 , 45.7183648 ,
       45.62906436, 45.54009246, 45.4516328 , 45.36386506, 45.27696438,
       45.19110095, 45.10643954, 45.02313914, 44.94135254, 44.861226  ,
       44.78289892, 44.70650354, 44.63216467, 44.55999949, 44.4901173 ,
       44.42261936, 44.35759874, 44.29514023, 44.23532025, 44.17820677,
       44.12385932, 44.07232899, 44.02365847, 43.9778821 , 43.93502601,
       43.89510816, 43.85813857, 43.82411943, 43.79304534, 43.76490347])

In [ ]:
df2

In [27]:
s=df2[:,np.newaxis]

In [29]:
m=LinearRegression()

In [30]:
m.fit(x_train,y_train)

LinearRegression()

In [31]:
o=m.predict(x_test)

In [36]:
r2_score(o,y_test)

-971.536354502315

In [2]:
df=pd.read_csv('CarPrice_Assignment.csv')

In [11]:
df.fillna(method='ffill')

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [4]:
from sklearn.feature_selection import chi2

In [5]:
from sklearn.feature_selection import SelectKBest

In [41]:
x=df.iloc[:,:-1]

In [42]:
x

,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,...,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg
0,1,0,1,0,2,0,88.6,168.8,64.1,48.8,...,2,130,5,3.47,2.68,9.0,111,5000,21,27
1,1,0,1,0,2,0,88.6,168.8,64.1,48.8,...,2,130,5,3.47,2.68,9.0,111,5000,21,27
2,1,0,1,2,2,0,94.5,171.2,65.5,52.4,...,3,152,5,2.68,3.47,9.0,154,5000,19,26
3,1,0,0,3,1,0,99.8,176.6,66.2,54.3,...,2,109,5,3.19,3.40,10.0,102,5500,24,30
4,1,0,0,3,0,0,99.4,176.6,66.4,54.3,...,1,136,5,3.19,3.40,8.0,115,5500,18,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,1,0,0,3,2,0,109.1,188.8,68.9,55.5,...,2,141,5,3.78,3.15,9.5,114,5400,23,28
201,1,1,0,3,2,0,109.1,188.8,68.8,55.5,...,2,141,5,3.78,3.15,8.7,160,5300,19,25
202,1,0,0,3,2,0,109.1,188.8,68.9,55.5,...,3,173,5,3.58,2.87,8.8,134,5500,18,23
203,0,1,0,3,2,0,109.1,188.8,68.9,55.5,...,3,145,3,3.01,3.40,23.0,106,4800,26,27
204,1,1,0,3,2,0,109.1,188.8,68.9,55.5,...,2,141,5,3.78,3.15,9.5,114,5400,19,25

In [43]:
y=df['price']

In [9]:
y

0      13495.0
1      16500.0
2      16500.0
3      13950.0
4      17450.0
        ...
200    16845.0
201    19045.0
202    21485.0
203    22470.0
204    22625.0
Name: price, Length: 205, dtype: float64

In [12]:
l=LabelEncoder()

In [ ]:
for i in df.columns:
    if df[i].dtypes=='O':
        df[i]=l.fit_transform(df[i])

In [22]:
for i in x.columns:
    if x[i].dtypes=='O':
        x[i]=l.fit_transform(x[i])

In [23]:
x

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg
0,1,3,2,1,0,1,0,2,0,88.6,...,2,130,5,3.47,2.68,9.0,111,5000,21,27
1,2,3,3,1,0,1,0,2,0,88.6,...,2,130,5,3.47,2.68,9.0,111,5000,21,27
2,3,1,1,1,0,1,2,2,0,94.5,...,3,152,5,2.68,3.47,9.0,154,5000,19,26
3,4,2,4,1,0,0,3,1,0,99.8,...,2,109,5,3.19,3.40,10.0,102,5500,24,30
4,5,2,5,1,0,0,3,0,0,99.4,...,1,136,5,3.19,3.40,8.0,115,5500,18,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,139,1,0,0,3,2,0,109.1,...,2,141,5,3.78,3.15,9.5,114,5400,23,28
201,202,-1,138,1,1,0,3,2,0,109.1,...,2,141,5,3.78,3.15,8.7,160,5300,19,25
202,203,-1,140,1,0,0,3,2,0,109.1,...,3,173,5,3.58,2.87,8.8,134,5500,18,23
203,204,-1,142,0,1,0,3,2,0,109.1,...,3,145,3,3.01,3.40,23.0,106,4800,26,27
204,205,-1,143,1,1,0,3,2,0,109.1,...,2,141,5,3.78,3.15,9.5,114,5400,19,25

In [25]:
mx=MinMaxScaler(feature_range=(0,1))

In [37]:
df.drop(['car_ID','CarName','symboling'],axis=1,inplace=True)

KeyError: "['car_ID' 'CarName' 'symboling'] not found in axis"

In [38]:
df

,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,0,1,0,2,0,88.6,168.8,64.1,48.8,...,130,5,3.47,2.68,9.0,111,5000,21,27,13495.0
1,1,0,1,0,2,0,88.6,168.8,64.1,48.8,...,130,5,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,0,1,2,2,0,94.5,171.2,65.5,52.4,...,152,5,2.68,3.47,9.0,154,5000,19,26,16500.0
3,1,0,0,3,1,0,99.8,176.6,66.2,54.3,...,109,5,3.19,3.40,10.0,102,5500,24,30,13950.0
4,1,0,0,3,0,0,99.4,176.6,66.4,54.3,...,136,5,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,1,0,0,3,2,0,109.1,188.8,68.9,55.5,...,141,5,3.78,3.15,9.5,114,5400,23,28,16845.0
201,1,1,0,3,2,0,109.1,188.8,68.8,55.5,...,141,5,3.78,3.15,8.7,160,5300,19,25,19045.0
202,1,0,0,3,2,0,109.1,188.8,68.9,55.5,...,173,5,3.58,2.87,8.8,134,5500,18,23,21485.0
203,0,1,0,3,2,0,109.1,188.8,68.9,55.5,...,145,3,3.01,3.40,23.0,106,4800,26,27,22470.0
204,1,1,0,3,2,0,109.1,188.8,68.9,55.5,...,141,5,3.78,3.15,9.5,114,5400,19,25,22625.0

In [44]:
mt=SelectKBest(score_func=chi2,k=4)

In [54]:
er=mt.fit(x,y.astype('int'))

In [55]:
rt=er.transform(x)

In [57]:
rt.shape

(205, 4)

In [60]:
s=er.scores_

In [59]:
np.set_printoptions(precision=2)

In [61]:
print(s)

[1.89e+01 1.65e+02 1.10e+02 5.61e+01 4.68e+01 2.02e+02 7.43e+01 1.78e+02
 1.42e+01 2.20e+01 2.16e+04 7.03e+01 6.08e+01 2.78e+03 2.50e+02 4.32e+00
 5.95e+00 2.99e+02 3.05e+03 8.91e+03 3.43e+02 3.11e+02]

In [63]:
w=mt.get_support()
w

array([False, False, False, False, False, False, False, False, False,
       False,  True, False, False,  True, False, False, False, False,
        True,  True, False, False])

In [64]:
col=df.columns
for i in range(len(w)):
    if w[i]==True:
        print(col[i])

curbweight
enginesize
horsepower
peakrpm

In [72]:
a=['curbweight','enginesize','horsepower','peakrpm']

In [73]:
x=df[a]

In [74]:
x

     curbweight  enginesize  horsepower  peakrpm
0          2548         130         111     5000
1          2548         130         111     5000
2          2823         152         154     5000
3          2337         109         102     5500
4          2824         136         115     5500
..          ...         ...         ...      ...
200        2952         141         114     5400
201        3049         141         160     5300
202        3012         173         134     5500
203        3217         145         106     4800
204        3062         141         114     5400

[205 rows x 4 columns]

In [92]:
x_train, x_test, y_train, y_test =train_test_split(x,y,test_size=0.20,random_state=60)

In [93]:
model=LinearRegression()

In [94]:
model.fit(x_train,y_train)

LinearRegression()

In [95]:
out=model.predict(x_test)

In [96]:
out

array([17860.89, 10789.25,  6424.37, 10935.48,  9640.28,  5556.19,
        6034.88, 35536.99,  9065.15, 18611.35, 13907.81, 22310.19,
       13394.66,  9065.15, 13394.66, 17998.73,  8640.8 , 18287.35,
       17905.44,  6575.67,  7733.12,  9428.42,  7010.76, 18380.12,
       12913.1 , 22716.53,  6151.48, 17404.22, 24336.15, 11158.27,
       23618.95,  9853.57, 12208.44, 10808.57, 17082.5 ,  9172.23,
       26564.67, 14509.31,  5333.42, 10844.83, 36900.65])

In [98]:
r2_score(y_test,out)*100

87.33715333299075