In [1]:
import pandas as pd
import numpy as np

In [2]:
#loading Question...

df1=pd.read_excel('python assignment.xlsx',sheet_name=0)
df1

                                           Questions
0  1.find the duplicates in AGMTNO column if ther...
1  2.convert Agreement Date column into 'yyyy-mm-...
2  3. concatnate Customer Address 1, Customer Add...
3  4. clear 0,- from CONTACT_NO column also check...
4  5. Find the asterik(*) in CHASSIS NUMBER and f...
5                          6. Round the TOTAL column

In [3]:
#loading assignment

df2=pd.read_excel('python assignment.xlsx',sheet_name=1)
df2

,AGMTNO,Agreement Date,CUSTOMERNAME,FATHERNAME,Customer Address 1,Customer Address 2,Customer Address 3,CONTACT_NO,CHASSIS,Total
0,MH3029TW0096330,2021-09-24,Mr.HIMALVISHNUSHRESHTA,VISHNU,P.N.3,RING ROAD,ANAND NGR JALGAON,937315,MD625BK26M1K00751,96396.59
1,JH3053TW0043984,2018-09-03,Mr.SONUMODI,SITARAM MODI,MADHUPUR,JASIDIH,DEOGHAR,-,MD621EP13J3C08614,28789.33
2,OR3051TW0118460,2019-03-29,Mr.DUSHMANTA MALIK,PITAMBAR MALIK,SANADPUR WARD NO 11 SAHADA SABARANG BHADRAK,NaN,NaN,9776929308,MD637AE71K2AL9638,133133.64
3,JH3053TW0058311,2019-05-09,Mr.MD INTIYAZ ANSARI,MD HARUN MIYA,BHORAJAMUA,PO DUMARIYA,NaN,8307408455,MD634C****15754,72362.05
4,GJ3031TW0016546,2017-01-21,Mr.ASHOKBHAIKANJIBHAITHARU,KANJIBHAI,GANESH NAGAR ZP,OPP AMBEMA TEMPLE,GANDHIDHAM KACHCHH,0,MD626BG48G3P37301,141110.89
5,PY3001TW0136843,2020-01-10,Mr.SUNDHAR S,SAKADEVAN,"282,AKRAKARATHU STREET,","AVIYANUR,PANRUTI",NaN,9751883511,MD621HP15K1H35486,25829.98
6,TN3006TW0105432,2018-07-30,Mr.SHEIK MYDEENA,ABUBAKER,"5/146, PALLIVASAL STREET, KOTTAMAPTTY","MELUR, MADURAI",NaN,9655346627,MD626FG44J2F21808,80754.75
7,PY3001TW0156840,2021-08-31,Mr.JAYAGURUS,SHANMUGA DHAMODHARAN,NO 31 IYYANAR KOIL MEDU,VAITHIKUPPAM,PADMINI NAGAR,NaN,MD621BP21M2A38268,77293.75
8,PY3001TW0152148,2021-03-29,Mr.PANJANATHANS,SOMU,M G R COLONY,ADHIVARAGANATHAM BHUVANAGIRI,CUDDALORE,8973654277,MD621BP27L1P02123,62624.84

In [4]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   AGMTNO              9 non-null      object
 1   Agreement Date      9 non-null      datetime64[ns]
 2   CUSTOMERNAME        9 non-null      object
 3   FATHERNAME          9 non-null      object
 4   Customer Address 1  9 non-null      object
 5   Customer Address 2  8 non-null      object
 6   Customer Address 3  5 non-null      object
 7   CONTACT_NO          8 non-null      object
 8   CHASSIS             9 non-null      object
 9   Total               9 non-null      float64
dtypes: datetime64[ns](1), float64(1), object(8)
memory usage: 848.0+ bytes

In [5]:
#Question 1 ---> Finding the no. of duplicate values in AGMTNO column

print(df2.AGMTNO.duplicated().sum())

if df2.AGMTNO.duplicated().sum()!=0:
    print('There is duplicate values.')
else:
    print('There is no duplicate values.')

0
There is no duplicate values.

In [6]:
#Hence, no duplicate values found.

In [7]:
#Question 2----> Changing the datdf2['Agreement Date'] = pd.to_datetime(df2['Agreement Date'], format='%Y-%m-%d')e format to yyyy/mm/dd

df2['Agreement Date'] = pd.to_datetime(df2['Agreement Date'], format='%Y-%m-%d')
df2

,AGMTNO,Agreement Date,CUSTOMERNAME,FATHERNAME,Customer Address 1,Customer Address 2,Customer Address 3,CONTACT_NO,CHASSIS,Total
0,MH3029TW0096330,2021-09-24,Mr.HIMALVISHNUSHRESHTA,VISHNU,P.N.3,RING ROAD,ANAND NGR JALGAON,937315,MD625BK26M1K00751,96396.59
1,JH3053TW0043984,2018-09-03,Mr.SONUMODI,SITARAM MODI,MADHUPUR,JASIDIH,DEOGHAR,-,MD621EP13J3C08614,28789.33
2,OR3051TW0118460,2019-03-29,Mr.DUSHMANTA MALIK,PITAMBAR MALIK,SANADPUR WARD NO 11 SAHADA SABARANG BHADRAK,NaN,NaN,9776929308,MD637AE71K2AL9638,133133.64
3,JH3053TW0058311,2019-05-09,Mr.MD INTIYAZ ANSARI,MD HARUN MIYA,BHORAJAMUA,PO DUMARIYA,NaN,8307408455,MD634C****15754,72362.05
4,GJ3031TW0016546,2017-01-21,Mr.ASHOKBHAIKANJIBHAITHARU,KANJIBHAI,GANESH NAGAR ZP,OPP AMBEMA TEMPLE,GANDHIDHAM KACHCHH,0,MD626BG48G3P37301,141110.89
5,PY3001TW0136843,2020-01-10,Mr.SUNDHAR S,SAKADEVAN,"282,AKRAKARATHU STREET,","AVIYANUR,PANRUTI",NaN,9751883511,MD621HP15K1H35486,25829.98
6,TN3006TW0105432,2018-07-30,Mr.SHEIK MYDEENA,ABUBAKER,"5/146, PALLIVASAL STREET, KOTTAMAPTTY","MELUR, MADURAI",NaN,9655346627,MD626FG44J2F21808,80754.75
7,PY3001TW0156840,2021-08-31,Mr.JAYAGURUS,SHANMUGA DHAMODHARAN,NO 31 IYYANAR KOIL MEDU,VAITHIKUPPAM,PADMINI NAGAR,NaN,MD621BP21M2A38268,77293.75
8,PY3001TW0152148,2021-03-29,Mr.PANJANATHANS,SOMU,M G R COLONY,ADHIVARAGANATHAM BHUVANAGIRI,CUDDALORE,8973654277,MD621BP27L1P02123,62624.84

In [8]:
#Question 3------> Concatenate customer(add1,add2,add3) to form a single column application address

df2['Applicant Address'] = df2[df2.columns[4:7]].apply(lambda x: ','.join(x.dropna().astype(str)),axis=1)
df2

,AGMTNO,Agreement Date,CUSTOMERNAME,FATHERNAME,Customer Address 1,Customer Address 2,Customer Address 3,CONTACT_NO,CHASSIS,Total,Applicant Address
0,MH3029TW0096330,2021-09-24,Mr.HIMALVISHNUSHRESHTA,VISHNU,P.N.3,RING ROAD,ANAND NGR JALGAON,937315,MD625BK26M1K00751,96396.59,"P.N.3,RING ROAD,ANAND NGR JALGAON"
1,JH3053TW0043984,2018-09-03,Mr.SONUMODI,SITARAM MODI,MADHUPUR,JASIDIH,DEOGHAR,-,MD621EP13J3C08614,28789.33,"MADHUPUR,JASIDIH,DEOGHAR"
2,OR3051TW0118460,2019-03-29,Mr.DUSHMANTA MALIK,PITAMBAR MALIK,SANADPUR WARD NO 11 SAHADA SABARANG BHADRAK,NaN,NaN,9776929308,MD637AE71K2AL9638,133133.64,SANADPUR WARD NO 11 SAHADA SABARANG BHADRAK
3,JH3053TW0058311,2019-05-09,Mr.MD INTIYAZ ANSARI,MD HARUN MIYA,BHORAJAMUA,PO DUMARIYA,NaN,8307408455,MD634C****15754,72362.05,"BHORAJAMUA,PO DUMARIYA"
4,GJ3031TW0016546,2017-01-21,Mr.ASHOKBHAIKANJIBHAITHARU,KANJIBHAI,GANESH NAGAR ZP,OPP AMBEMA TEMPLE,GANDHIDHAM KACHCHH,0,MD626BG48G3P37301,141110.89,"GANESH NAGAR ZP,OPP AMBEMA TEMPLE,GANDHIDHAM K..."
5,PY3001TW0136843,2020-01-10,Mr.SUNDHAR S,SAKADEVAN,"282,AKRAKARATHU STREET,","AVIYANUR,PANRUTI",NaN,9751883511,MD621HP15K1H35486,25829.98,"282,AKRAKARATHU STREET,,AVIYANUR,PANRUTI"
6,TN3006TW0105432,2018-07-30,Mr.SHEIK MYDEENA,ABUBAKER,"5/146, PALLIVASAL STREET, KOTTAMAPTTY","MELUR, MADURAI",NaN,9655346627,MD626FG44J2F21808,80754.75,"5/146, PALLIVASAL STREET, KOTTAMAPTTY,MELUR, M..."
7,PY3001TW0156840,2021-08-31,Mr.JAYAGURUS,SHANMUGA DHAMODHARAN,NO 31 IYYANAR KOIL MEDU,VAITHIKUPPAM,PADMINI NAGAR,NaN,MD621BP21M2A38268,77293.75,"NO 31 IYYANAR KOIL MEDU,VAITHIKUPPAM,PADMINI N..."
8,PY3001TW0152148,2021-03-29,Mr.PANJANATHANS,SOMU,M G R COLONY,ADHIVARAGANATHAM BHUVANAGIRI,CUDDALORE,8973654277,MD621BP27L1P02123,62624.84,"M G R COLONY,ADHIVARAGANATHAM BHUVANAGIRI,CUDD..."

In [9]:
#Question 4:-  (i) Clear 0 and '-' from CONTACT_NO:


df2['CONTACT_NO'].replace('-',0,inplace=True)  #replacing '-' to 0
df2.fillna(0,inplace=True) #filling null values with 0
df2 = df2[df2['CONTACT_NO'] != 0] #removing rows which have 0 in CONTACT_NO
df2

,AGMTNO,Agreement Date,CUSTOMERNAME,FATHERNAME,Customer Address 1,Customer Address 2,Customer Address 3,CONTACT_NO,CHASSIS,Total,Applicant Address
0,MH3029TW0096330,2021-09-24,Mr.HIMALVISHNUSHRESHTA,VISHNU,P.N.3,RING ROAD,ANAND NGR JALGAON,937315,MD625BK26M1K00751,96396.59,"P.N.3,RING ROAD,ANAND NGR JALGAON"
2,OR3051TW0118460,2019-03-29,Mr.DUSHMANTA MALIK,PITAMBAR MALIK,SANADPUR WARD NO 11 SAHADA SABARANG BHADRAK,0,0,9776929308,MD637AE71K2AL9638,133133.64,SANADPUR WARD NO 11 SAHADA SABARANG BHADRAK
3,JH3053TW0058311,2019-05-09,Mr.MD INTIYAZ ANSARI,MD HARUN MIYA,BHORAJAMUA,PO DUMARIYA,0,8307408455,MD634C****15754,72362.05,"BHORAJAMUA,PO DUMARIYA"
5,PY3001TW0136843,2020-01-10,Mr.SUNDHAR S,SAKADEVAN,"282,AKRAKARATHU STREET,","AVIYANUR,PANRUTI",0,9751883511,MD621HP15K1H35486,25829.98,"282,AKRAKARATHU STREET,,AVIYANUR,PANRUTI"
6,TN3006TW0105432,2018-07-30,Mr.SHEIK MYDEENA,ABUBAKER,"5/146, PALLIVASAL STREET, KOTTAMAPTTY","MELUR, MADURAI",0,9655346627,MD626FG44J2F21808,80754.75,"5/146, PALLIVASAL STREET, KOTTAMAPTTY,MELUR, M..."
8,PY3001TW0152148,2021-03-29,Mr.PANJANATHANS,SOMU,M G R COLONY,ADHIVARAGANATHAM BHUVANAGIRI,CUDDALORE,8973654277,MD621BP27L1P02123,62624.84,"M G R COLONY,ADHIVARAGANATHAM BHUVANAGIRI,CUDD..."

In [10]:
#Question 4 (ii)-----> checking the lenght of the contact no., if its less then 10 then show its values corresponding to AGMNTO

for i in df2['CONTACT_NO']:
    if len(i)!=10:
        print(df2['AGMTNO'][df2['CONTACT_NO']==i])

0    MH3029TW0096330
Name: AGMTNO, dtype: object

In [11]:
#Question 5-----> find '*' in Chassis no. and its corresponding AGMTNO values.

for i in df2['CHASSIS']:
    if '*' in i:
        print(df2['AGMTNO'][df2['CHASSIS']==i])

3    JH3053TW0058311
Name: AGMTNO, dtype: object

In [12]:
#Question 6------> Round the Total column

df2['Total']=df2['Total'].apply(np.round)
df2

C:\Users\RAJA\AppData\Local\Temp/ipykernel_12560/1103194440.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Total']=df2['Total'].apply(np.round)

,AGMTNO,Agreement Date,CUSTOMERNAME,FATHERNAME,Customer Address 1,Customer Address 2,Customer Address 3,CONTACT_NO,CHASSIS,Total,Applicant Address
0,MH3029TW0096330,2021-09-24,Mr.HIMALVISHNUSHRESHTA,VISHNU,P.N.3,RING ROAD,ANAND NGR JALGAON,937315,MD625BK26M1K00751,96397.0,"P.N.3,RING ROAD,ANAND NGR JALGAON"
2,OR3051TW0118460,2019-03-29,Mr.DUSHMANTA MALIK,PITAMBAR MALIK,SANADPUR WARD NO 11 SAHADA SABARANG BHADRAK,0,0,9776929308,MD637AE71K2AL9638,133134.0,SANADPUR WARD NO 11 SAHADA SABARANG BHADRAK
3,JH3053TW0058311,2019-05-09,Mr.MD INTIYAZ ANSARI,MD HARUN MIYA,BHORAJAMUA,PO DUMARIYA,0,8307408455,MD634C****15754,72362.0,"BHORAJAMUA,PO DUMARIYA"
5,PY3001TW0136843,2020-01-10,Mr.SUNDHAR S,SAKADEVAN,"282,AKRAKARATHU STREET,","AVIYANUR,PANRUTI",0,9751883511,MD621HP15K1H35486,25830.0,"282,AKRAKARATHU STREET,,AVIYANUR,PANRUTI"
6,TN3006TW0105432,2018-07-30,Mr.SHEIK MYDEENA,ABUBAKER,"5/146, PALLIVASAL STREET, KOTTAMAPTTY","MELUR, MADURAI",0,9655346627,MD626FG44J2F21808,80755.0,"5/146, PALLIVASAL STREET, KOTTAMAPTTY,MELUR, M..."
8,PY3001TW0152148,2021-03-29,Mr.PANJANATHANS,SOMU,M G R COLONY,ADHIVARAGANATHAM BHUVANAGIRI,CUDDALORE,8973654277,MD621BP27L1P02123,62625.0,"M G R COLONY,ADHIVARAGANATHAM BHUVANAGIRI,CUDD..."

In [13]:
df2.to_excel('new_rec.xlsx')

In [27]:
df2.to_csv('rec.csv')