## Question 1

In [1]:
import mysql.connector as m
mydb=m.connect(host='localhost',user='root',password='sachin')
x=mydb.cursor()

In [8]:
def insert(x):
    import pandas as pd
    x.execute(f"use {input('Enter Database Name: ')}")
    table_name=input("Enter Table Name: ")
    x.execute(f"Select * from {table_name};")
    df=pd.DataFrame(x.fetchall(),columns=x.column_names)
    columns=df.columns
    no_of_rows=int(input("How many rows do you want to enter?: "))
    for i in range(0,no_of_rows):
        detail=()
        for j in range(len(columns)):
            if df[columns[j]].dtype=="int64":
                detail+=(int(input(f"Enter the 'Int' value of {columns[j]}: ")),)
            elif df[columns[j]].dtype=="O":
                detail+=(input(f"Enter the 'char' value of {columns[j]}: "),)
            elif df[columns[j]].dtype=="float64":
                detail+=(float(input(f"Enter the 'float' value of {columns[j]}: ")),)
        x.execute(f"Insert into {table_name} values {detail};")
    x.execute('set autocommit=1')

In [9]:
insert(x)

Enter Database Name: customers
Enter Table Name: marks
How many rows do you want to enter?: 1
Enter the 'Int' value of roll_no: 45
Enter the 'char' value of first_name: sachin
Enter the 'char' value of last_name: nag
Enter the 'Int' value of marks: 64

## Question 2

In [14]:
def show(x):
    import pandas as pd
    x.execute('show databases')
    x.execute(f"Use {input('Enter DataBase Name: ')}")
    x.execute('show tables')
    x.execute(f"select * from {input('Enter Table Name: ')}")
    data=x.fetchall()
    column=x.column_names
    df=pd.DataFrame(data,columns=column)
    return df

In [ ]:
s=show(x)

In [13]:
s

,#,Name,Type1,Type2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,0
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,0
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,0
4,4,Charmander,Fire,None,309,39,52,43,60,50,65,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,1
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,1
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,1
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,1
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,1